//-----------------------------------
//PATRON DE COLORES
//-----------------------------------

$texto: #111111;
$principal: #f7b71e;
$secundario: #f78d1e;
$lineas: #7f7358;

html {
  font-size: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $texto;
}

.bienvenidos {
  background: url("../images/imagen-encabezado.jpg") no-repeat center top;
  color: white;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.encabezado {
  background: $principal;
  color: #ffffff;
  padding: 0.5rem 0;
}

.encabezado .logo img {
  width: 110px;
  height: auto;

}

/**Estilos para el boton buscar y menu*/
.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  background: transparent;
}

.boton-buscar:focus,
.boton-menu:focus {
  outline: none;
}

.boton-buscar {
  margin-left: auto;
  margin-right: 0.8rem;
}

/**Estilos bloque buscar*/
#bloque-buscar {
  flex: 1 1 100%;
}

.contenedor-bloque-buscar {
  display: flex;
  height: 3rem;
  margin: 1rem 0;
}

.contenedor-bloque-buscar input[type="text"] {
  flex: 1 1 auto;
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;

}

.contenedor-bloque-buscar input[type="submit"] {
  flex: 0 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: $secundario;
  padding: 0 1rem;
}

#menu-pricipal {
  flex: 1 1 100%;
}

#menu-pricipal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0;
}

#menu-pricipal ul a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  color: black;
  text-transform: uppercase;
  border-top: 1px solid $lineas;
  text-decoration: none;
}

#menu-pricipal ul a:hover,
#menu-pricipal ul li.active a {
  color: white;
}

.texto-encabezado {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.texto-encabezado h1 {
  margin-top: 4rem;
}

.texto-encabezado .btn-primary {
  margin-top: 1rem;
}

.btn-primary {
  color: black;
  background-color: $secundario;
  border-color: transparent;
  transition: all 0.5s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn:focus {
  color: #fff;
  background-color: $principal;
  border-color: transparent;
}

.flecha-bajar a {
  display: inline-block;
  color: white;
  font-size: 3rem;
  animation: flecha-animada 2s ease-in-out infinite;
}

@keyframes flecha-animada {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }

  to {
    transform: translateY(0);
  }
}

// SECCION INVENTARIO DE FALLAS

.inventario-fallas {
  background: $secundario;
}

// SECCION TU MEJOR ELECCION

.tu-mejor-eleccion h2 span {
  color: $secundario;
}

.tu-mejor-eleccion ul,
.tu-mejor-eleccion li {
  list-style: none;

}

.tu-mejor-eleccion ul li .fas {
  font-size: 2.3rem;
  background: $secundario;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  line-height: 4.7rem;
}

.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.3rem;
}

.tu-mejor-eleccion ul li {
  min-height: 8.5rem;
}

// SECCION SERVICIOS

.servicios {
  background: url("../images/servicios.jpg") no-repeat center center;
  color: #ffffff;
  background-size: cover;
  background-attachment: fixed !important;
}

.servicios article {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.servicios img {
  flex: 0 0 60px;
  overflow: hidden;
  margin-right: 1rem;
}

.servicios h3 {
  margin: 0;
  font-size: 1.1rem;
  flex: 1 1 auto;
}

.servicios h3 a {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.servicios h3 a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 2.2rem;
  margin-left: 1rem;
  opacity: .5;
  position: relative;
  left: 0;
  transition: all .5s ease;
}

.servicios h3 a:hover::after {
  left: -.5rem;
  opacity: 1;
  color: $principal;
}

// SECCION ULTIMOS PROYECTOS

.ultimos-proyectos a {
  text-decoration: none;
}

.ultimos-proyectos a h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: $texto;
}

.ultimos-proyectos .container {
  padding-right: 0;
  padding-left: 0;

}

.ultimos-proyectos .owl-nav {
  display: flex;
  justify-content: center;
}


.ultimos-proyectos .owl-nav button.owl-prev,
.ultimos-proyectos .owl-nav button.owl-next {
  font-size: 2.5rem;
  margin: 0 .5rem;
  color: $principal;
  transition: all .5s;
}

.ultimos-proyectos .owl-nav button.owl-prev:hover,
.ultimos-proyectos .owl-nav button.owl-next:hover {
  color: $secundario;

}

.ultimos-proyectos .owl-nav button.owl-prev:focus,
.ultimos-proyectos .owl-nav button.owl-next:focus {
  outline: 0;
}

// SECCION PIE DE PAGINA

.pie_de_pagina {
  background: $texto;
  color: #ffffff;
  text-align: center;
  font-size: .9rem;
}

.pie_de_pagina .redes-sociales {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pie_de_pagina .redes-sociales a {
  color: #ffffff;
  font-size: 2rem;
  margin: 0 .5rem;
  opacity: .7;
  transition: all .5s;
}

.pie_de_pagina .redes-sociales a:hover {
  opacity: 1;
}

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2.8rem;
  color: $principal;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  display: none;
  transition: all .5s;
}

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #ffffff;
}

/*-------------------------------------------------------
ESTILOS PAGINA NOSOTROS
---------------------------------------------------------*/
.paginas-internas .bienvenidos {
  height: 60vh;
}

.paginas-internas .ruta {
  background: $secundario;
  color: $texto;
}

.paginas-internas .ruta a {
  color: #ffffff;
  text-decoration: underline;
}

.paginas-internas .ruta a:hover {
  text-decoration: none;
}

.paginas-internas .accordion .mb-0 a {
  font-size: 1.2rem;
  background: $principal;
  color: #111111;
  display: block;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: all .5s ease;
}

.paginas-internas .accordion .mb-0 a:hover {
  background: $secundario;
  color: #ffffff;
}

.paginas-internas .card-body {
  padding-top: 0;
}

/*-------------------------------------------------------
ESTILOS PAGINA SERVICIOS
---------------------------------------------------------*/
.paginas-internas .lista-servicios {
  background: $lineas;
}

.paginas-internas .lista-servicios .item-servicios {
  background: white;
  text-align: center;
  border: 5px solid $principal;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.paginas-internas .lista-servicios .item-servicios .fas {
  font-size: 6rem;
  margin-bottom: 1rem;
  transition: all 1s ease;
}

.paginas-internas .lista-servicios .item-servicios:hover .fas {
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}

/*-------------------------------------------------------
ESTILOS PAGINA COMUNIDAD
---------------------------------------------------------*/

.paginas-internas .comunidad .text-secondary {
  color: $texto !important;
  padding-top: 2rem;
}

.paginas-internas .comunidad .divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.paginas-internas .comunidad .divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: .25rem;
  background-color: $lineas;
  border-radius: 1rem;
  border-color: $lineas !important;
}

.paginas-internas .comunidad .divider-custom .divider-custom-icon {
  color: $lineas !important;
  font-size: 2rem;
}

.paginas-internas .comunidad .divider-custom {
  margin: .5rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginas-internas .comunidad .divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.comunidad .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.comunidad .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s ease-in-out;
  opacity: 0;
  background-color: $lineas;
}

.comunidad .portfolio-item .portfolio-item-caption:hover {
  opacity: 0.7;
}


.comunidad .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 30px;
  border-radius: .5rem;
  overflow: hidden;
}

.comunidad .img-fluid {
  max-width: 100%;
  height: auto;
}

.paginas-internas .comunidad h6 {
  padding-top: 1rem;
}


// EMPIEZA LAS MEDIAS QUERIES

@media(min-width: 768px) {
  #menu-pricipal {
    height: auto !important;
    display: block;
    flex: 0 1 auto;
    margin-left: auto;
    order: 1;
  }

  #menu-pricipal ul {
    display: flex;
    margin: 0 0 0 0;
  }

  #menu-pricipal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    transition: all .5s;
  }

  #menu-pricipal ul li.active a,
  #menu-pricipal ul li a:hover {
    background: $principal;
    border-bottom: 4px solid $texto;
  }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    order: 2;
  }

  #bloque-buscar {
    order: 3;
    position: absolute;
    width: 20rem;
    right: 5rem;
    top: 3.3rem;
    transition: all .5s;
  }

  // BLOQUE SERVICIOS
  .servicios article {
    align-items: center;
    margin: 1rem 0;
    flex-direction: column;
    text-align: center;
  }

  .servicios img {
    flex: 0 0 140px;
    overflow: hidden;
    margin-right: 0;
    margin-bottom: 1rem;
    transition: all 1s ease;
  }

  .servicios article:hover img {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
  }

  .servicios h3 a::after {
    content: "";
  }

  .servicios h3 {
    font-size: 1.5rem;
    margin: 0 0 .5rem;
    flex: 0 1 auto;
  }

  .servicios .btn-secondary {
    margin-top: auto;
  }

  //PAGINA SERVICIOS
  .paginas-internas .lista-servicios .col-md-4 {
    display: flex;
  }

  .paginas-internas .lista-servicios .item-servicios {
    display: flex;
    flex-direction: column;
  }

  .paginas-internas .lista-servicios .item-servicios .btn-primary {
    margin-top: auto;
  }

  .paginas-internas #servicio2 ul li {
    font-size: 0.8rem;
  }

}


@media(min-width: 992px) {
  html {
    font-size: 16px;
  }

  .bienvenidos {
    background: url("../images/imagen-encabezado-grande.jpg") no-repeat left top;
    background-size: cover;
  }

  .tu-mejor-eleccion ul li {
    display: flex;
    min-height: 8.5rem;
  }

  .tu-mejor-eleccion ul li .fas {
    text-align: center;
    flex: 0 1 auto;
    margin-right: 1rem;
    transition: all 1s ease;
  }

  .tu-mejor-eleccion ul li:hover .fas {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    background: $principal;
  }

  .contenedor-eleccion {
    flex: 1 0 0px;
  }

  .tu-mejor-eleccion ul li .contenedor-eleccion h4 {
    margin-top: 0;
    font-size: 1rem;
  }

  .tu-mejor-eleccion ul:first-child .fas {
    order: 1;
    margin-left: 1rem;
    margin-right: 0;
  }

  .tu-mejor-eleccion ul li p {
    font-size: .85rem;
  }

  .servicios {
    background: url("../images/servicios-grande.jpg") no-repeat center center;
    background-size: cover;
  }

}